/* CSS Document */

/*----------------PARALLAX IMAGE-----------------*/
.parallax {
	min-height: 450px;
	background: transparent;
	padding-top: 35px;
}

body {
	color: steelblue; /*(default font color for the entire page)*/
	font-family: 'PT Serif', serif;
	font-weight: 300; /*(font thickness)*/
}

/*----------------navigation section-----------------*/
header {
	height: 110px; /*(height of nav bar)*/
	position: fixed; /*(keeps nav bar visible when scrolling)*/
	width: 100%;
	top: 0;
	z-index: 5; /*(ensures nav bar appears in front of other elements)*/
	font-size: 1em;
    background-color: mintcream;
    opacity: 0.75;
}

header.nav-up {
  transform: translateY(-100%);
  transition: transform 1s ease;
} 

/*----------------navigation container-----------------*/
.nav-container {
  margin: 0 auto;
}

/*----------------text-based logo-----------------*/
.brand {
    padding: 40px 20 px 30px;
    margin-left: 20px;
    margin-top: 5px;
    float: left;
    position: fixed;
    transition: opacity 0.5s ease; /* Adding a smooth transition effect */
}

/*----------------mobile navigation--------------------*/
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  height: 80px;
  width: 80px;
}

/*----------------navigation buttons-----------------*/
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 10px;
    line-height: 105px;
    background-color: mintcream;
    color: steelblue;
    text-decoration: none;
	font-weight: bold;
    font-family: 'Acme';
}
nav ul li a:hover,
nav ul li a:visited:hover {
    background-color: lightblue;
    color: white;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 5;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}	

a.text:link, a.text:visited {
    background-color: #68ACF0;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
}
a.text:hover, a.text:active {
    background-color: mintcream;
    color: mintcream;
}
.row a{
	color: whitesmoke;
    font-family: "Acme", sans-serif;
    text-transform: uppercase;
    padding: .5rem 1rem;
    padding-right: 2rem;
    border-radius: 30px;
    margin: 40px auto;
    text-align: center;
    position: relative;
    display: block;
    width: 175px;
    letter-spacing: .3px;
    font-size: 16px;
    font-weight: 600;
    line-height: initial;
    background: url(img/arrow.png) #AEC6CF;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 96%;
	text-decoration: none;
}
.row a:hover{
	    background-color: aliceblue;
    color: #647d8b;
	    text-decoration: none;
    transition: all 0.3s ease-in 0s;
}
/*----------------media queries-----------------*/

/*If device width is less than or equal to 800px, then do ...*/
@media only screen and (max-width: 800px) {

    h2 {
        font-size: 35px !important;
    }
  .nav-mobile {
    display: block;
      background-color: white;
      opacity: 0.75;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
    background-color: white;
    opacity: 0.75;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  } 
    
  .brand {
	position: absolute;
	padding-left: 80px;
	float: left;
	font-family: sans-serif;
	font-size: small;
  }
	
	.image2 {
	cursor:pointer;
	width: 90%;
	height: 90%;
}
	
}
@media screen and (min-width: 800px) {  
    
/*-----styles for jquery dropdown menu-----*/
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #000000;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/*----------------Main Image-----------------*/

.container {
    position: relative;
    background-image: url(img/main.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
}

.image1 {
  width: 100%;
}

* {
    margin: 0;
    padding: 0;
}
/*--second thing--*/
.fly-in-text {
  white-space:nowrap; 
  list-style: none;
  font-weight: bolder;
  position: absolute;
  margin-top: 100px;
  left: 31%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li {
  display: inline-block;
  margin-right: px;
  font-family: 'Acme', sans-serif;  
  font-weight: bolder;
  font-size: 115px;
  font-style: italics; 
  color: darkslategray;
  text-shadow: -2px -2px 0 lightgoldenrodyellow, 2px -2px 0 lightgoldenrodyellow, -2px 2px 0 lightgoldenrodyellow, 2px 2px 0 lightgoldenrodyellow;
  opacity: 0.9 ;
  transition: all 2.5s ease;
}

.fly-in-text li: last-child {
  margin-left: 0;
}

.fly-in-text.hidden li {
  opacity: 0;
}

.fly-in-text.hidden li:nth-child(1) {
  transform: translateX(-200px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(2) {
  transform: translateX(20px) translateY(100px);
  color: transparent;
}

.fly-in-text.hidden li:nth-child(3) {
  transform: translateX(-150px) translateY(-80px);
}

.fly-in-text.hidden li:nth-child(4) {
  transform: translateX(10px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(5) {
  transform: translateX(-300px) translateY(200px);
}

.fly-in-text.hidden li:nth-child(6) {
  transform: translateX(-20px) translateY(-20px);
}

.fly-in-text.hidden li:nth-child(7) {
  transform: translateX(30px) translateY(200px);
}

.fly-in-text.hidden li:nth-child(8) {
  transform: translateX(20px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(9) {
  transform: translateX(-150px) translateY(50px);
}

.fly-in-text.hidden li:nth-child(10) {
  transform: translateX(100px) translateY(20px);
}

.fly-in-text.hidden li:nth-child(11) {
  transform: translateX(200px) translateY(-300px);
}

.fly-in-text.hidden li:nth-child(12) {
  transform: translateX(-80px) translateY(-150px);
}

.fly-in-text.hidden li:nth-child(13) {
  transform: translateX(30px) translateY(100px);
}
ul {
    list-style-type: disc;
}
li {
    display: list-item;
    color: cornflowerblue
    text-align: -webkit-match-parent;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 3px;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
div {
    display: block;
}
body {
    color: slategrey;
    font-family: 'Old Standard', sans-serif;
    font-weight: 300;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    list-style-type: disc;
}

/*----------------Main Content Area(this is where all the content below the navigation bar will go)--*/
.row {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0; /*(centers content within the row)*/
	position: relative;
	padding: 65px 45px;
    text-align: center;
}

article {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	line-height: 20px;
}

h1 {
	line-height: 2;
	font-family: 'Acme', serif; 
    text-transform: uppercase;
	font-size: 30px;
    background-color: mintcream;
    color: #AEC6CF;
}

h2 {
	font-family:'Acme', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    color: #AEC6CF;
    -webkit-background-clip: text;
    margin: 0;
    line-height: initial;
}

p {
	line-height: 1.5;
}

/*----------------SLIDESHOW-----------------*/

#slider {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 1;
  position: relative;        
}

/* prev / next links */
.cycle-prev, .cycle-next { 
  position: absolute;
  top: 0;
  width: 30%;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 800;
  height: 100%;
  cursor: pointer; 
  }
  
.cycle-prev { 
  left: 0;
  background: url(img/arrowleft.png) 50% 50% no-repeat;
  }
  
.cycle-next { 
right: 0;
background: url(img/arrowright.png) 50% 50% no-repeat;
}

.cycle-prev:hover, .cycle-next:hover { 
opacity: 1;
filter: alpha(opacity=70)
}

/* image size adjustment*/
.cycle-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 18px;
}

.image-container {
  height: 300px; /* Adjust the height as per your requirement */
}

.image-container img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

/* captions below slideshow*/
#alt-caption {
    background-color: #F5F5DA;
    color: #528AAE;
    font-family: 'Old Standard', sans-serif;
    font-size: .9em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*----------------VIDEO-----------------*/
video {
    position: relative;
    width: 100%;    
}

/*----------------FOOTER-----------------*/
footer {
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
	font-size: 10px;
}
/*(footer links)*/
footer a {
	text-decoration: none; /*(nullifies underline)*/
	color: darkslategrey;
	font-family: 'Acme', sans-serif;
}
/*(link color when moused over)*/
footer a:hover {
	color: #AEC6CF;
}

/*----------------AUDIO BOARD-----------------*/
    
}

.trip {text-align:center;}

.trip img{
  display:inline-block;
  width:30%;
  margin:0 1% 0 1%;
  }

.rollover {
	cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

/*--------------background colors----------*/
.whiteBG {
	background-color: lightgoldenrodyellow;
}

.blueBG {
    background-image: url(img/pattern.png);
    background-color: aliceblue;
    
}

.lightblueBG {
	background: -webkit-linear-gradient(left,purple,white,gold);
}

/*----------------back to top button-----------------*/
#myBtn {
  
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: slategray; /* Set a background color */
  color: darkslategray; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50%; /* Rounded shape */
  font-family: 'Acme', sans-serif;
}

#myBtn:hover {
  background-color: aliceblue;
  opacity: 0.75;   
}

/*----menu dissapear when scroll---*/
.nav-up {
  top: -105px; 
}
